h1, h2, h3 {
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  margin: 15px 0 15px 0; }

h4, h5, h6, p {
  font-family: "Merriweather Sans", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.66em; }

h3 {
  font-size: 2.33em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.66em; }

h6 {
  font-size: 1.33em; }

p {
  font-size: 1.1em; }

body {
  background-color: black; }
  body #root {
    background-color: #373737; }

.trippybg {
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1;
  height: inherit !important;
  width: 100% !important; }

.main-container {
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  height: 100vh;
  background-color: #373737; }

.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  max-width: 780px;
  border-radius: 5px;
  box-shadow: 3px 3px #ff00ff; }

.inner-content {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  margin-right: 12%;
  flex-grow: 1; }

.button-row {
  display: flex;
  flex-direction: row;
  margin: 35px;
  justify-content: space-evenly; }
