h1, h2, h3 {
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  margin: 10px 0 10px 0; }

h4, h5, h6, p {
  font-family: "Merriweather Sans", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.66em; }

h3 {
  font-size: 2.33em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.66em; }

h6 {
  font-size: 1.33em; }

p {
  font-size: 1em; }
