@import '../variables';
@import '../mixins';

.app-header {
    @include padding-s;
    @include flex-col;
    @include flex-center;
    
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: none;

    h1 {
        color: $color-silk;
        font-family: $old-standard;
        font-size: 12em;
        text-shadow: 3px 3px 0 $color-magenta;
        font-weight: 700;
        margin: -30px;
    }

    h5 {
        color: $color-light-magenta;
        margin: -7px 0 5px;
        font-size: 1.5rem;
    }

    h6 {
        color: $color-accent-1;
        margin: 10px;
    }
}

.app-header__nav {
    height: 6em;
    padding: 0 20px;
    border-radius: 5px;
    background-color: $color-bg-light;
    box-shadow: 3px 3px $color-magenta;

}