@import '../variables';
@import '../mixins';

.app-header {
    @include padding-s;
    @include flex-col;
    @include flex-center;
    
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: none;
    z-index: 2;

    h1 {
        color: $color-silk;
        font-family: $old-standard;
        font-size: 12em;
        text-shadow: 4px 4px 0 $color-magenta;
        font-weight: 700;
        margin: -30px;
    }

    h5 {
        color: $color-light-magenta;
        margin: -7px 0 5px;
        background-color: $color-silk; 
        font-size: 1.6rem;
        white-space: nowrap;
        padding: 0 5px;
        
    }

    h6 {
        color: $color-accent-1;
        font-size: 1.7rem;
        margin: 10px;
    }
}

