@import '../variables';
@import '../mixins';

.app-header__nav {
    z-index: 2;
    height: 3em;
    padding: 0 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: $color-bg-light;
    box-shadow: 3px 3px $color-magenta;


}

