@import '../variables';
@import '../mixins';

.results-page__container {
    @include flex-col;
    @include padding-l;

    border-radius: inherit;
    background-color: $color-bg-light;
    height: 100%;
}

.results-list {
    display: flex;
    flex-flow: column nowrap;

    .result-item {
        display: flex;

        width: 100%;
        height: 160px;
        // border: solid 1px white;
        margin-bottom: 20px;

        .result-item-img-container {
            height: 100%;
            width: 40%;

            img {
                align-self: flex-start;
    
                height: 100%;
                width: 100%;
                object-fit: contain;
                background-color: #e6e6e6;
                border-radius: 10px;
                box-shadow: 2px 2px 20px 1px #aaa;
            }
        }

        .result-item-text-container {
            margin: auto;

            p {
    
            }
        }

    }
}

