@import '../variables';
@import '../mixins';

.upload-page__container {
    @include flex-col;
    @include padding-l;

    border-radius: inherit;
    background-color: $color-bg-light;
    height: 100%;
}