@import 'variables';

h1, h2, h3 {
    font-family: $font-title;
}

h4, h5, h6, p {
    font-family: $font-body;
}

body {
    background-color: black;

    #root {
        background-color: $color-bg-dark;
    }
}

.container {
    height: 100vh;
    background-color: $color-bg-dark;
    padding: 10px;
}


