@import 'variables';

// font assignments
$font-title:  $old-standard;
$font-body: $merriweather-sans;

h1, h2, h3 {
    font-family: $font-title;
    font-weight: 600;
    margin: 15px 0 15px 0;
}

h4, h5, h6, p {
    font-family: $font-body;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.66em;
}

h3 {
    font-size: 2.33em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.66em;
}

h6 {
    font-size: 1.33em;
}

p {
    font-size: 1.1em;
}