
//// colors

// color definitions
$color-white: #ffffff;
$color-offwhite: #fafafa;
$color-matte-white: #dfdfdf;

// 'muted tones'
$color-pale-gold: #c0b283;
$color-silk: #dcd0c0;
$color-paper: #f4f4f4;
$color-charcoal: #373737;

// 'Pretty Pastels'
$color-powder: #bfd8d2;
$color-peach: #fedcd2;
$color-warm: #df744a;
$color-lemon: #dcb239;

// 'Clean and crisp'
$color-ice: #99d3df;
$color-fresh-water: #88bbd6;
$color-plaster: #cdcdcd;
$color-linen: #e9e9e9;

// color assignments
$color-bg-light: $color-paper;
$color-bg-dark: $color-charcoal;
$color-fg-light: $color-paper;
$color-fg-dark: $color-charcoal;
$color-accent-1: $color-pale-gold;
$color-accent-2: $color-silk;

/// fonts

// font imports
$yeseva-one: 'Yeseva One', cursive;
$merriweather-sans: 'Merriweather Sans', sans-serif;

// font assignments
$font-title:  $yeseva-one;
$font-body: $merriweather-sans;
